

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  /*src: url('webfont.eot');
  /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('webfont.ttf') format('truetype') /* Safari, Android, iOS
  url('webfont.svg#svgFontName') format('svg');*/
  /* Legacy iOS */
}

@font-face {
  font-family: 'SportsWorld';
  src: url('../fonts/Sports-World-Regular.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-color: #000;*/
  background-image:url(../img/kljuc.jpg);
  background-attachment: fixed;
}

body#galerija {
  background-image:url(../img/kljuc2.jpg);
  background-position: left center;
}

.dvesta{
  height:200px !important;
  background-image:none;
  background-color:#000;
  border-bottom:3px solid #f9c118;
}

header{
  position:fixed;
  top:0;
  left:0;
  right:0;
background-color: #222;
height:80px;
z-index:99;
padding:19px;
transition: all .5s;
background-image:url(../img/logo.png);
background-size:300px;
background-position: left 50px center;
background-repeat:no-repeat;
}

.header-container{
  width:80%;
  margin:0 auto;

}

nav {

  margin: 0;
  padding: 0;
  width:30%;
  margin:0 auto;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  margin-left:-108px;
}

nav ul.opening {
  display: inline-block;
  height: 30px;
}

nav li { border-bottom: 1px solid #f6f4e2; }

nav li:last-child { border-bottom: none; }

nav a {
  color: #EBEBD3;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  display: block;
  padding: 1.5em 4em 1.3em 3em;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover, nav a:focus { background: #f9c118; }

.site-nav--icon {
  font-size: 1.4em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  position: absolute;

  padding: 0.8em;
  top: 25px;
  right: .5em;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open .hamburger::before { display: none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}


 .galleria{
   max-width: 1000px;
    height: 600px;
     background: #000;
     margin:0 auto;
     }
@media (max-width:800px)
{
  .galleria{
    height:400px;
  }
}
@media (max-width:600px)
{
  .galleria{
    height:300px;
  }
}
/*nav {
  display: inline;
}

.navbar {

  color: #d8d4c9;
  font-size: 20px;
  width: 100%;
  height: auto;

  z-index: 10;
}

.navbar ul{
  margin-top:20px;
}

.navbar-items {
  padding-left:9.8%;
  color: #d8d4c9;
  text-decoration: none;
  display: inline;

}

.navbar-items ul li a{
  padding-bottom:2px;
  border-bottom:1px solid rgba(0,0,0,0);
}

.nav-items{

  transition:0.2s all;
}

.navbar-items a {
  color: #c0c0c0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.navbar-items ul li a:hover {
  color: #fff;
  border-bottom:1px solid #f9c118;
  transition: all .2s ;
  -webkit-transition: all .2s ease-in-out;
  /* Safari 3.1 to 6.0
}*/

div.brand {
  position:absolute;
  z-index:99999;
}

div.brand a {
  display: inline;
  text-decoration: none;
  font-size: 25px;
  font-family: 'SportsWorld';
  color: #f9c118;
  letter-spacing: 3px;
  font-weight: 900;

  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  /* Safari 3.1 to 6.0 */
}

#brend {
  font-size: 40px;
}

/*.nav-items {
  display: inline-block;
}

.list-items li {
  list-style: none;
  display: inline;
  margin-right: 40px;
  font-weight: 500;
}

.kartica {
  float: left;
  width: 100%;
  height: 450px;
  display: inline-block;
}

.kartica:after {
  content: "";
  display: block;
  clear: both;
}

.kartica p {
  margin: 50px 0;
  padding: 0 10px;
  box-sizing: border-box;
}*/

.clearfix {
  display: inline-block;
}

.opis {
  text-align: left;
  color: #fff;
  position: relative;
  top: -50px;
}

.kartica .opis {
  position:static;
}

.redOpisa{
  width:100%;
  clear:both;
  overflow:auto;
  margin-bottom:15px;
  border:1px solid rgba(249,193,24, 0.5);
  border-top:none;
  height:auto;

  }
  .redOpisa .slika{
    width:40%;
    float:left;
    overflow:hidden;
  }
  .redOpisa .slika img{
    width:100%;
  }
  .redOpisa .tekstSlike{
    float:left;
    width:60%;

  }
  .redOpisa .tekstSlike h2{
    background-color: rgba(0,0,0,0.5);
    width:100%;

  }

#cover{
  height:100%;
  background-image:url(../img/viljuskar1.jpg);
}

#usluge {
  opacity: 0;
}

.container {
  position: relative;
  top: 60px;

  width: 73%;
  height: auto;
  margin-top: 30px;

  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
  min-height: auto;
  border-radius: 6px;
}
.sivo{
   background-color: rgba(34,34,34,0.95);
   border-radius: 10px;
   padding:2.5%;
   margin:15px;
}

.odeljak {
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.sadrzaj {
  border-top: solid 2px #f9c118;
  border-bottom: solid 2px #f9c118;
  height: auto;
  text-align: center;
  display: none;
  position:relative;
  background-image:url(../img/ikona.png);
  background-repeat:no-repeat;
  background-position: right 40%;
  background-size:25%;
}

.linijica{
  width:10%;
  height:1px;
  background-color: #f9c118;
  margin:0 auto;
  margin-bottom:20px;
}

h1, h2, h3 {
  color: #f9c118;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
/*
  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  cursor: default;
  */
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

.naslov {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#naslov {
  line-height: 60px;
  padding-top: 25px;
}

p {
  margin: 50px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  /*
  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;

  cursor: default;
  */
}

#viljuskari{
  text-align:center;
  margin:20px;
}

.sadrzaj p {
  text-align: left;
  justify-content: center;
}

/*.sadrzaj img{
  filter:none;
  position:absolute;
  right:5px;
  top:75px;
  width:200px;

}*/
h3 p {
  color: #f9c118;
  font-size: 30px;
}

.slike {
  text-align: center;
  margin-top: 20px;
  height: auto;
}

.kartica p{
  display:inline-block;
  width:45%;
}

figure {
  display: inline-block;
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}

figcaption {
  position: relative;
  top: -50px;
  color: #fff;
  font-size: 35px;
  padding: 5px 0 10px 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  opacity: 0.7;
}

/*img {
  height: auto;
  width: 100%;
  display: inline;
  filter: grayscale(100%);
  border-radius: 3px;
}*/

/*img:hover {
  filter: none;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  /* Safari 3.1 to 6.0
}*/



.kontakt {

  width: 29%;

}

.kontakt:after {
  content: "";
  display: block;
  clear: both;
}

#info {
  clear: both;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin-top: 40px;
  max-width: 100%;
}

tr {
  vertical-align: top;
}

.labela {
  font-size: 20px;
  margin-right: 20px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: right;
  display: inline;
}

.forma {
  text-align: center;
}

.forma input {
  border: none;
  border: solid 1px #fff;
  background-color: #222;
  color: #f9c118;
  border-radius: 3px;
  height: 35px;
  font-size: 20px;
  padding: 4px;
}

.forma input[type="text"]:focus, .forma textarea:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.175) inset, 0 0 8px rgba(229, 103, 23, 0.8);
  outline: 0 none;
  border: solid 1px #f9c118;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  /* Safari 3.1 to 6.0 */
}

.greska {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 38, 0, 1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(255, 38, 0, 1);
  box-shadow: 0px 0px 0px 3px rgba(255, 38, 0, 1);
  border: solid 2px #f00;
  outline: 0 none;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

div.error span {
  color: #f9c118;
  font-family: 'Roboto', sans-serif;
}

.forma>div.error span {
  text-align: left;
}

td {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: right;
}

textarea {
  background-color: #222;
  border: solid 1px #fff;
  color: #f9c118;
  border-radius: 3px;
  height: 90px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 4px;
}

.forma input[type="submit"].btn {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  height: auto;
  width: auto;
  font-size: 18px;
  background-color: #222;
  color: #f9c118;
  border: solid 2px #f9c118;
  padding: 9px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.forma input[type="submit"].btn:hover {
  cursor: pointer;
  color: #d8d4c9;
  border-color: #d8d4c9;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}


#kontaktCeo{

  border:1px solid #f9c118;
  border-radius:9px;
  overflow:auto;
  padding:30px;
  margin-bottom:15px;
}

.kontaktInfo td {
  text-align: left;
  margin-right: 20px;
  padding-bottom: 15px;
}

.razmak {
  padding-left: 10px;
}

div#mapa div {
  margin-top: 20px;
}

.kontakt h3, div#mapa h3 {
  display: inline-block;
}

div#kontaktinfo, #mapa {
  display: inline-block;
  float: left;
}

div#kontaktinfo table tbody tr td:first-child {
  font-weight: 700;
  color: #f9c118;
}

div#kontaktinfo table tbody tr td:nth-child(2) {
  font-weight: 700;
}

div#mapa {
  float:right;
  width: 63%;
}



div#kontaktMejl {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding: 60px 60px 30px 60px;
  width: auto;
  border:1px solid #f9c118;
  border-radius:9px;
}

div#kontaktMejl h3 {
  display: block;
  text-align: center;
}

div#kontaktMejl form {
  width: 100%;
  margin-top: 40px;
}

div#kontaktMejl form label.labela {
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

div#kontaktMejl form input[type="text"] {
  width: 100%;
}

div#kontaktMejl form textarea {
  width: 100%;
}

div#kontaktMejl form input.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
}

@media screen and (max-width:1440px) {
  figure#slika1 figcaption {
    font-size: 26px;
  }
}

@media screen and (max-width:1291px) {
  h3 p {
      font-size: 25px;
  }

  .redOpisa .tekstSlike h2{
    font-size:28px;
  }
  .redOpisa .tekstSlike p{
    font-size:14px;
    margin:40px;
  }
}

@media screen and (max-width:1150px) {
  figure#slika1 figcaption {
    font-size: 22px;
  }
  div#kontaktinfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  div#kontaktinfo h3 {
    display: block;
    text-align: center;
  }
  div#kontaktinfo table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  div#mapa {
    margin-right: 0;
    width: 100%;
  }
  div#mapa h3 {
    display: block;
    text-align: center;
  }
  div#mapa iframe {
    width: 100%;
  }
  div#kontaktMejl {
    padding-top: 40px;
  }


}


@media screen and (max-width:1150px) {
  h1 {
    font-size: 30px;
  }
  h2 {
      font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1372px) {

  div#kontaktinfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  div#kontaktinfo h3 {
    display: block;
    text-align: center;
  }

  div#kontaktinfo table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
  div#mapa {
    margin-right: 0;
    width: 100%;
  }
  div#mapa h3 {
    display: block;
    text-align: center;
  }

  .razmak {
    padding-left: 40px;
  }
}



@media screen and (max-width:960px) {
  .container {
    width: 80%;
  }



  p {
    font-size: 16px;
  }

  .sadrzaj p{
    margin:25px;
  }

  .kartica {
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
  }
  div.kartica figure {
    width: 48%;
    float: left;
  }
  figure figcaption {
    display: inline-block;
    width: 100%;
  }
  .kartica p {
    display: inline-block;
    width: 50%;
  }
}

@media screen and (max-width:944px) {
 nav{
   width:10%;
 }
  header{
      background-position:left 10px center;
      background-size:200px;
    }
}

@media screen and (max-width:993px) {
  .navbar-items {
    padding: 4.8%;
    font-size: 16px;
    display: inline;
    height: auto;
  }
  .list-items li {
      margin-right: 20px;
  }
  .brand {
      margin-right: 20px;
  }
  div.brand a {
      font-size: 19px;
  }
}

@media screen and (max-width:885px) {
  .odeljak {
    padding-left: 0;
    padding-right: 0;
  }
  figure#slika2 figcaption, figure#slika3 figcaption {
    font-size: 23px;
  }
  div#kontaktMejl {
    width: 100%;
  }
}

@media screen and (max-width:885px) {
  div.kartica figure#slika1+p, div.kartica figure#slika2+p {
    font-size: 22px;
  }

  .container{
    width:90%;
  }
   div.brand{
    margin-right:15px;
    float:left;

  }

  .navbar ul{
  margin-top:20px;
}
  .navbar ul li {
    margin-right:9px;
  }
}

@media screen and (max-width:775px) {


nav{
  width:1%;
}

.redOpisa{
  width:80%;
  margin:0 auto;
  margin-bottom:15px;
}
 .redOpisa .slika{
   float:none;
   width:100%;
 }
 .redOpisa .tekstSlike{
   float:none;
   width:100%;

 }
 /*.navbar ul{
  margin-top:5px;
}*/




div.brand a{
  font-size:14px;
}

/*.nav-items{
  display:block;
}*/

  .kartica {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  div.kartica figure#slika3+p {
    font-size: 22px;
  }
  div.kartica figure#slika1+p, div.kartica figure#slika2+p {
    font-size: 20px;
  }

  p {
    margin: 30px;
  }

  .redOpisa .tekstSlike h2{
    font-size:24px;
  }

  .redOpisa .tekstSlike p{
    text-align: left;
    font-size: 14px;
    margin:15px;
  }
}

@media screen and (max-width:659px) {
    div.container {
        margin-top: 30px;
    }
    .list-items {
        margin-top: 15px;
        padding-left: 2.2%;
    }
}



@media screen and (max-width:643px) {
  div.kartica figure#slika1+p, div.kartica figure#slika2+p, div.kartica figure#slika3+p {
    font-size: 16px;
    padding: 0;
  }
  p {
    font-size: 17px;
  }
  div.brand {
      margin-right: 20px;
  }
}

@media screen and (min-width:670px){
   .menu-toggle { display: none; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float:right;
}

nav li {
  flex: 1 1 auto;
  border: none;
}

nav li a {
  padding: 1.5em 1.3em 1.3em 1.3em;
  margin: 0;
  border: none;


}

nav a:hover,  nav a:focus { background-color: rgba(255,255,255,.10); }

.logo {
  flex: 0 0 200px;
  margin: 0;
  padding-left: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

}
}

@media screen and (max-width:639px) {
  /*div.kartica figure#slika1 + p, div.kartica figure#slika2 + p, div.kartica figure#slika3 + p{
    font-size:16px;
    padding:0;
  }*/

.sadrzaj{
  background-image: none;
}

.header-container{
  width:100%;
}
.container{
  width:100%;
}

.redOpisa{
  width:100%;
}


  .odeljak {
    margin-bottom: 0;
  }
  #naslov {
    padding-top: 0;
  }
  p {
    margin-left: 0;
    margin-right: 0;
  }
  .razmak {
    padding-left: 40px;
  }
  h1 {
   font-size: 27px;
  }
  h2 {
   font-size: 27px;
  }

  h3 {
    font-size: 23px;
  }
}
@media screen and (max-width:560px ) {

  header{
    height:70px;
  }
  table{
    margin-top:10px;
  }
}



@media screen and (max-width:450px /*blaze it*/) {


    header{
      background-position:left 0 center;
      background-size:200px;
    }

  h3 {
    font-size: 27px;
  }
  div.kartica figure#slika1+p {
    margin-top: 35px;
  }
  div.kartica figure#slika2+p, div.kartica figure#slika3+p {
    margin-top: 25px;
  }
  #naslov {
    line-height: 37px;
    margin-bottom: 20px;
  }
  td {
    font-size: 15px;

  }
  .razmak{
    padding-left:5px;
  }



 div#kontaktMejl{
    padding:60px 10px 30px 10px;
  }

  p {
    font-size: 15px;
    margin: 30px;
  }


}

@media screen and (max-width:386px) {

  #naslov {
    font-size: 27px;
  }

  h3 {
    font-size: 23px;
  }
}

@media screen and (max-width:326px) {
  div.container{
    width:100%;
    padding:0;
  }
  #kontaktCeo{
    padding:10px;
  }

  header{
    padding:10px;
  }

  .sivo{
    margin:3px;
  }


}

.errorMessage, .okMessage {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  color: #333;
}

.errorMessage {
  background-color: #c32;
}

.okMessage {
  background-color: #2a3;
}

.errorMessage p, .okMessage p {
  display: inline;
  font-size: 16px;
}
